<footer class="page-footer grey darken-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
      </div>
      <div class="col l6 s12">
        <h5 class="white-text">Deliverables</h5>
        <ul>
          <li><a class="white-text" href="https://eoscpilot.eu/content/d71-skills-landscape-analysis-and-competence-model" target="_blank">D7.1: Skills landscape analysis and competence model</a></li>
          <li><a class="white-text" href="https://eoscpilot.eu/content/d72-interim-report-and-catalogue-eosc-skills-training-and-educational-materials" target="_blank">D7.2: Interim report and catalogue of EOSC skills training and educational materials</a></li>
          <li><a class="white-text" href="https://eoscpilot.eu/content/d73-skills-and-capability-framework" target="_blank">D7.3: Skills and Capability Framework</a></li>
          <li><a class="white-text" href="https://eoscpilot.eu/content/d74-report-training-workshops" target="_blank">D7.4: Report on Training Workshops</a></li>
          <li>D7.5: Strategy for Sustainable Development of Skills and Capabilities (<em>to appear</em>)</li>
        </ul>
      </div>
    </div>
  </div>
  
  <div class="footer-copyright black">
    <div class="container">
      <p style="display:{{site.display_footer}};">&copy; 2019 <a href="http://eoscpilot.edu" target="_blank">EOSCpilot.eu</a> 2019. This work is licensed under the <a href="https://github.com/EOSC-FAIR4S/eosc-fair4s.github.io/blob/master/LICENSE">MIT license</a>.</p>
    </div>
  </div>
</footer>

<!-- Scripts -->
<script type="text/javascript" src="{{site.baseurl}}/assets/js/jquery-3.3.1.min.js"></script>
<!--<script type="text/javascript" src="{{site.baseurl}}/assets/js/materialize.min.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/js/init.js"></script>

</body>
</html>
