<nav role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="/"><img src="/assets/images/fair4s.svg" class="brand-logo" alt="FAIR4S logo" /></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/framework">Framework</a></li>
      <li><a href="/keyskills.html">Key skills</a></li>
      <li><a href="/roles">Roles</a></li>
      <li><a href="/materials">Materials</a></li>
    </ul>

    <ul id="nav-mobile" class="sidenav">
      <li><a href="/framework">Framework</a></li>
      <li><a href="/keyskills.html">Key skills</a></li>
      <li><a href="/roles">Roles</a></li>
      <li><a href="/materials">Materials</a></li>
    </ul>
    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  </div>
</nav>