{% assign roles = site.roles | where:"role-id", include.role-id %}
<li id="{{ include.role-id }}">
	<div class="collapsible-header">
		<i class="{{ site.data.roles[include.role-id].logo }}"></i>
		{{ site.data.roles[include.role-id].title }}
		<span class="badge" data-badge-caption="profile roles">{{ roles | size }}</span>
	</div>
	<div class="collapsible-body">
		<p>{{ site.data.roles[include.role-id].also.description }}</p>
		<ul>
			{% for role in roles %}
				<li><a href="{{ role.url }}">{{ role.title }}</a></li>
			{% endfor %}
		</ul>
	</div>
</li>
