{% include head.html %}

{% include navigation.html %}

<div>
	<h1>{{ page.title }}</h1>
	<h2>Version: {{ site.data.framework.version }}</h2>
</div>

<table>
	<tbody>
		{% for element in site.data.framework.framework %}
		{% assign isfirst = true %}
		{% for competence in element.competences %}
		<tr>
			{% if isfirst %}
			<td rowspan="{{ element.competences.size }}" class="{{ element.color }} darken-3 white-text">
				{{ element.name }}
			</td>
			{% assign isfirst = false %}
			{% endif %}
			<td class="{{ element.color }} lighten-4">
				{% if competence.keyskill %}
					<b>{{ competence.name }}</b>
				{% else %}
					{{ competence.name }}
				{% endif %}
			</td>
		</tr>
		{% endfor %}
		{% endfor %}
	</tbody>
</table>

{% include footer.html %}
