{% include head.html %}

{% include navigation.html %}

<div class="container">
	<div class="section">
		<div class="row">
			<div class="col s12 m12">
				<h1>{{ page.title }}</h1>
				<h2>Version: {{ site.data.framework.version }}</h2>
				<p>{{ page.content }}</p>
			</div>
			<div class="col s12 m12">
				<table>
					<tbody>
						{% for element in site.data.framework.framework %}
						{% assign isfirst = true %}
						{% assign color = site.data.colors.framework[element.name].color %}
						{% for competence in element.competences %}
							<tr>
								{% if isfirst %}
									<td rowspan="{{ element.competences.size }}" class="{{ color }} darken-3 white-text">{{ element.title }}</td>
								{% assign isfirst = false %}
								{% endif %}
								<td class="{{ color }} lighten-4">
									{% if competence.keyskill %}
										<b>{{ competence.title }}</b> <span class="fas fa-key"></span>
									{% else %}
										{{ competence.title }}
									{% endif %}
								</td>
							</tr>
						{% endfor %}
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

{% include footer.html %}
