{% include head.html %}

{% include navigation.html %}

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center light-blue-text text-darken-2">{{ site.title }}</h1>
        <div class="row center">
          <h5 class="header col s12 light">{{ site.description }}</h5>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="{{site.parallax_image_one}}" alt="Background image home"></div>
  </div>

{% include cookies.html %}

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 m6">
        <div class="card sticky-action">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="assets/images/board-build-carpentry-1598213.jpg"/>
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">The FAIR4S Framework<i class="material-icons right">more_vert</i></span>
            <p>
              <a href="#">This is a link</a>
            </p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">The FAIR4S Framework<i class="material-icons right">close</i></span>
            <p>Here goes some nice description</p>
          </div>
          <div class="card-action">
            <a href="keyskills.html">Key skills</a>
            <a href="framework.html">FAIR4S Framework</a>
          </div>
        </div>
      </div>

      <div class="col s12 m6">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="assets/images/access-adult-business-1181335.jpg"/>
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Professional roles<i class="material-icons right">more_vert</i></span>
            <p>
              Something
            </p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Professional roles<i class="material-icons right">close</i></span>
            <p>Description</p>
          </div>
          <div class="card-action">
            <a href="/roles">Roles</a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s12 m6">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="assets/images/book-stack-books-education-48126.jpg"/>
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Learning materials<i class="material-icons right">more_vert</i></span>
              <p>Something</p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Learning materials<i class="material-icons right">close</i></span>
              <p>Description</p>
            </div>
            <div class="card-action">
              <a href="/materials">Learning materials</a>
            </div>
          </div>
        </div>
        <div class="col s12 m6">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Deliverables<i class="material-icons right">more_vert</i></span>
              <p>Something</p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Deliverables<i class="material-icons right">close</i></span>
              <p>Description</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
      </div>
    </div>
  </div>
  <div class="parallax"><img src="{{site.parallax_image_two}}" alt="Unsplashed background img 3"></div>
</div>

<div class="container" style="padding:20px;">
  <div id="blog" class="section scrollspy">
  {% include blog-feed.html %}
  </div>
</div>

<div class="container" style="padding:20px;">
  <div id="contact" class="section scrollspy">
  {% include contact.html %}
  </div>
</div>

{% include nav-burger.html %}

{% include footer.html %}
