---
layout: default
---

<div class="container">
	<div class="section">
		<div class="row">
			<div class="col s12 m12">
				<h1>{{ page.title }}</h1>
				<h2>Version: {{site.data.framework.version }}</h2>

				<p>{{ page.content | markdownify }}</p>

				<table>
					<thead>
						<tr>
							<th>Skills group</th>
							<th>Key skill</th>
						</tr>
					</thead>
					<tbody>
						{% for element in site.data.framework.framework %}
						{% assign isfirst = true %}
						{% assign color = site.data.colors.framework[element.name].color %}
						{% assign competences = element.competences | where: "keyskill", true %}
						{% for competence in competences %}
						<tr>
							{% if isfirst %}
								<td rowspan="{{ competences | size }}" class="{{ color }} darken-3 white-text">{{ element.title }}</td>
								{% assign isfirst = false %}
							{% endif %}
							<td class="{{ color }} lighten-4">{{ competence.title }}</td>
						</tr>
						{% endfor %}
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
