---
layout: default
---
{% assign selected_role = site.data.roles[page.role-id]%}
<div class="container">
	<div class="section">
		<div class="row">
			<div class="col s12 m12">
				<h1>
					<a href="/roles?collapse={{page.role-id}}">{{ selected_role.title }}</a> 
					<span class="fas fa-angle-right"></span>
					<span>{{ page.title }}</span>
				</h1>
			</div>

			{% for mapping in page.mapping %}
			<div class="col s12 m12">
				<h4><span class="{{ site.data.levels[mapping.level].logo }} tooltipped" data-position="right" data-tooltip="{{ site.data.levels[mapping.level].title }}"></span> {{ mapping.keyskill }}</h4>
				<p>{{ mapping.description }}</p>
			</div>

			<div class="col s12 m9">
				<h5>Where to learn</h5>
				{% if mapping.materials %}
				<div class="collection">
					{% for material in mapping.materials %}
						<a href="{{ material.href }}" target="_blank" class="collection-item">{{ material.title }}</a>
					{% endfor %}
				</div>
				{% else %}
				<p>Sorry, no relevant learning materials known yet.</p>
				{% endif %}
			</div>

			<div class="col s12 m3">
				<h5>Who may help</h5>
				<p>{{ mapping.support_providers | join: ", " }}</p>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
