---
layout: default
---
{% assign selected_role = site.data.roles[page.role-id]%}
<div class="container">
	<div class="section">
		<div class="row">
			<div class="col s12 m12">
				<h3>
					<span class="black white-text">Roll Profile</span>
					{% assign path = page.url | split: "/" %}
					<a href="/{{path[1]}}/?collapse={{page.role-id}}">{{ selected_role.title }}</a> 
					<span class="fas fa-angle-right"></span>
					<span>{{ page.title }}</span>
				</h1>
				<h3>{{ page.subtitle }}</h3>
			</div>

			{% if page.mapping %}
			{% for section in site.data.framework.framework %}
			{% assign competences = competences | concat: section.competences %}
			{% endfor %}
			<div class="col s12 m12">
			{% for mapping in page.mapping %}
			{% assign competence = competences | where: "name", mapping.keyskill %}
			<a href="#{{mapping.keyskill}}" class="waves-effect waves-light btn" style="margin-bottom: 5px;"><span class="{{ site.data.levels[mapping.level].logo }}"></span> {% if competence[0] %}{{ competence[0].title }}{% else %}{{ mapping.keyskill }}{% endif %}</a>
			{% endfor %}
			</div>

			{% for mapping in page.mapping %}
			{% assign competence = competences | where: "name", mapping.keyskill %}
			<div class="col s12 m12">
				<a name="{{ mapping.keyskill }}"><h4><span class="{{ site.data.levels[mapping.level].logo }} tooltipped" data-position="right" data-tooltip="{{ site.data.levels[mapping.level].title }}"></span> {% if competence[0] %}{{ competence[0].title }}{% else %}{{ mapping.keyskill }}{% endif %}</h4></a>
				<p>{{ mapping.description | markdownify }}</p>
			</div>

			<div class="col s12 m9">
				<h5>Where to learn</h5>
				{% assign levels = "basic,intermediate,expert" | split: "," %}
				{% for level in levels %}
					{% assign material_found = false %}
					<h6>{{ site.data.levels[level].title | capitalize }}</h6>
					{% for material in site.materials %}
						{% for skill in material.skills %}
							{% if skill.name == mapping.keyskill and skill.level == level %}
								{% if material_found == false %}
									<div class="collection">
								{% endif %}
								{% assign material_found = true %}
								<a href="{{ material.url }}"  class="collection-item">{{ material.title }}</a>
							{% endif %}
						{% endfor %}
					{% endfor %}
					{% if material_found == false %}
						<p>Sorry, no relevant learning materials known yet.</p>
					{% else %}
						</div>
					{% endif %}
				{% endfor %}
			</div>

			<div class="col s12 m3">
				<h5>Who may help</h5>
				<ul>
					{% for provider in mapping.support_providers %}
					<li>
						{% include role-profile-title.html role-id=provider.role-id name=provider.name %}
					</li>
					{% endfor %}
				</ul>
			</div>
			{% endfor %}
			{% else %}
			<div class="col s12 m12">
				The role profile for <em>{{page.title | remove_first: '*'}}</em> is not defined yet.
				You can contribute by proposing a definition in <a href="{{site.framework_github}}/blob/master/{{page.path}}" target="_blank"><span class="fas fa-edit"></span> GitHub</a>.
			</div>
			{% endif %}
		</div>
	</div>
</div>
